.cashier-web {
    background-color: white;
}

.gerecht-list {
    margin-left: 2vw;
    margin-top: 2vh;
    width: 50%;
}

.gerecht-list-container {
    height: 75vh;
}

.cashier-basket-container {
    min-height: 60vh;
    max-height: 60vh;
}

.subtotal {
    height: 10vh;
    flex-direction: column;
    justify-content: space-between;
}

.subtotal-text {
    font-weight: bold;
    font-size: 150%;
}