.cashier-web {
    background-color: white;
}

.gerecht-list {
    margin-left: 2vw;
    margin-top: 2vh;
    width: 50%;
}

.gerecht-list-container {
    max-height: 75vh;
}

.cashier-basket-container {
    max-height: 50vh;
}