.max-vh-75{
    max-height: 75vh;
}

.vertical-align-middle td{
    vertical-align: middle;  
}

.table-card-body{
    table {
        margin: 0 auto;
    }

    tr td:nth-child(1) {
        width: 40%;
        text-align: right;
    }

    tr td:nth-child(2) {
        width: 20%;
    }

    tr td:nth-child(3) {
        width: 40%;
        text-align: left;
    }
    
}

.btnic {
    border: none;
    color: white;
    padding: 12px 16px;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    background-color: DodgerBlue;
}

.btn:hover {
    background-color: RoyalBlue;
  }