.body-home{
    font-size: 18px;
    background:floralwhite;
    text-align: center;
    padding: 24px 0 12px;
    font-weight: bold;

    .ad-section {
        margin-top: 64px;
    }
}

.ad-card {
    margin: 12px 0;
    font-weight: bold;
    font-size: 20px;

    .title {
        font-size: 32px;
    }

    .body {
        margin: 16px 0px;
    }

    .price {
        font-size: 32px;
    }

}
.scroll {
    overflow-x: hidden;
    overflow-y: auto;
}
