.nav-item-red {
    color: red !important;
    .active-nav-item-red{

    }
}

.menu-item-card {
    width: 18rem;
    margin-top: 8px;
    margin-left: 16px;
}

.sticky-footer-card {
    position:absolute;
    bottom:0;
    width:100%;
}